@media (min-width:480px);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
h1{color:gainsboro;
  width: 100px;
  max-width: calc(100vw - 10px);
  margin-top:-250px;
  text-align: left;
  font-size: 50px;
 
}
body{background:url('assets/c9309d4894c9bcc120128a9445cac35c.jpg')
no-repeat center center fixed;
background-size: cover;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}
h2{font-size:25px;
text-align: right}

a{color: black;
text-align: center;
margin-top: auto}